---
const { strengths = [], weaknesses = [] } = Astro.props;
---

<section class="hero-traits">
  <div>
    <h3>Stärken</h3>
    {strengths.length > 0 ? (
      <ul>
        {strengths.map(s => <li>{s}</li>)}
      </ul>
    ) : (
      <p>Keine Angaben</p>
    )}
  </div>

  <div>
    <h3>Schwächen</h3>
    {weaknesses.length > 0 ? (
      <ul>
        {weaknesses.map(w => <li>{w}</li>)}
      </ul>
    ) : (
      <p>Keine Angaben</p>
    )}
  </div>
</section>
